body {
    background-color: #DADADA;
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}

.login-container {
    height: 100%;
}

.error-container {
    margin-bottom: 20px;
}